
# List

In [2]:
a1=["sam",10,305,"True"]

In [3]:
a1

['sam', 10, 305, 'True']

In [4]:
a1[0]

'sam'

In [5]:
a1[-2]

305

In [27]:
a1[-1]

'sd'

In [32]:
b1=["sam",20,2.3,"false"]
b1
b1.append("satyam")
b1

['sam', 20, 2.3, 'false', 'satyam']

In [35]:
b1[-2]

'false'

# Dict

In [102]:
dit = {"name":"Satyam","age":20,
       "number":5679945,"email":"satyamdhomne@g..."}

In [103]:

dit

{'name': 'Satyam', 'age': 20, 'number': 5679945, 'email': 'satyamdhomne@g...'}

In [104]:
dit.items()

dict_items([('name', 'Satyam'), ('age', 20), ('number', 5679945), ('email', 'satyamdhomne@g...')])

In [105]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [107]:
dit.values()

dict_values(['Satyam', 20, 5679945, 'satyamdhomne@g...'])

# set

In [109]:
st ={"satyam","lets go",1,2,3,4,4,5,6,5,5}

In [110]:
st

{1, 2, 3, 4, 5, 6, 'lets go', 'satyam'}

In [113]:
st.issubset(st)

True

# Tuple

In [120]:
tup=(1,"a","true")
tup

(1, 'a', 'true')

In [122]:
tup.count("a")

1